In [1]:
import pandas as pd

In [4]:
people = {
    'first': ['Michael', 'Jim', 'Dwight', 'Pam', 'Adam', 'Jane'],
    'last': ['Scott', 'Halpert', 'Schrute', 'Beesley', 'Doe', 'Doe'],
    'email': ['mscott@dundermifflin.com', 'jhalpert@dundermifflin.com', 'dschrute@dundermifflin.com', 'pbeesley@dundermifflin.com', 'a@dm.com', 'j@dm.com']
}

In [5]:
df = pd.DataFrame(people)

In [6]:
df

     first     last                       email
0  Michael    Scott    mscott@dundermifflin.com
1      Jim  Halpert  jhalpert@dundermifflin.com
2   Dwight  Schrute  dschrute@dundermifflin.com
3      Pam  Beesley  pbeesley@dundermifflin.com
4     Adam      Doe                    a@dm.com
5     Jane      Doe                    j@dm.com

In [7]:
df.sort_values(by='last', ascending=False)

     first     last                       email
0  Michael    Scott    mscott@dundermifflin.com
2   Dwight  Schrute  dschrute@dundermifflin.com
1      Jim  Halpert  jhalpert@dundermifflin.com
4     Adam      Doe                    a@dm.com
5     Jane      Doe                    j@dm.com
3      Pam  Beesley  pbeesley@dundermifflin.com

In [8]:
df.sort_values(by='last', ascending=True)

     first     last                       email
3      Pam  Beesley  pbeesley@dundermifflin.com
4     Adam      Doe                    a@dm.com
5     Jane      Doe                    j@dm.com
1      Jim  Halpert  jhalpert@dundermifflin.com
2   Dwight  Schrute  dschrute@dundermifflin.com
0  Michael    Scott    mscott@dundermifflin.com

In [10]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [13]:
df

     first     last                       email
0  Michael    Scott    mscott@dundermifflin.com
2   Dwight  Schrute  dschrute@dundermifflin.com
1      Jim  Halpert  jhalpert@dundermifflin.com
4     Adam      Doe                    a@dm.com
5     Jane      Doe                    j@dm.com
3      Pam  Beesley  pbeesley@dundermifflin.com

In [14]:
df['last'].sort_values()

3    Beesley
4        Doe
5        Doe
1    Halpert
2    Schrute
0      Scott
Name: last, dtype: object